[package]
name = "linnet"
version = "0.15.0"
edition = "2021"
description = "A library for working with half-edge data structures, and subgraphs, and drawing them"
license = "MIT"
authors = ["Lucien Huber"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "linnet"
path = "src/lib.rs"

[profile.bench]
debug = true
opt-level = 3
lto = true

[profile.release]
lto = true          # Enable link-time optimization
strip = true        # Strip symbols from binary*
opt-level = 'z'     # Optimize for size
codegen-units = 1   # Reduce number of codegen units to increase optimizations
panic = 'abort'     # Abort on panic

[[bench]]
name = "stcut"
harness = false
# [[bench]]
# name = "iterbv"
# harness = false

[[bench]]
name = "layout_small"
harness = false


[dependencies]
bincode = { version = "2.0.1", features = ["serde"], optional = true }
ahash = "0.8.11"
frostfire = { version = "0.1.2", optional = true }
bitvec = { version = "1.0.1" }
by_address = "1.2.1"
cgmath = { version = "0.18.0", optional = true }
duplicate = "2.0.0"
indexmap = "2.7.0"
itertools = "0.14.0"
rand = { version = "0.8.5", features = ["small_rng"] }
ref-ops = "0.2.5"
serde = { version = "1.0", features = ["derive"], optional = true }
figment = { version = "0.10.19" }
symbolica = { version = "1", optional = true, default-features = false }
thiserror = "2.0.11"
derive_more = "0.99.17"
# hibit_tree = "0.1.0-alpha.3"
dot-parser = "0.5"
kurbo = "0.11.1"
piet = "0.7.0"
bincode-trait-derive = "0.1.1"
indenter = { version = "0.3.3", features = ["std"] }
paste = "1.0.15"
getrandom = { version = "0.2", default-features = false, features = ["custom"] }
rand_xoshiro = "0.7.0"

[features]
serde = ["dep:serde", "bitvec/serde"]
symbolica = ["dep:symbolica"]
bincode = ["dep:bincode", "serde"]
drawing = ["dep:cgmath", "dep:frostfire"]
# layout = ["dep:argmin"]

[dev-dependencies]
insta = { version = "1.42.0", features = ["ron"] }
proptest = "1.6.0"
similar-asserts = "1.7.0"
# vers-vecs = { version = "1.6.1", features = ["simd"] }
# vob = "3.0.3"
# smallbitvec = "2.6.0"
# bit-vec = "0.8.0"
# roaring = { version = "0.10.10" }
# hi_sparse_bitset = { version = "0.6.1", features = ["simd"] }
# hibitset = "0.6.4"
# fixedbitset = "0.5.7"
iai-callgrind = "0.14.0"
criterion = "0.5"
figment = "0.10.19"
linnest = { path = "linnest" }

[workspace]
members = ["clinnet","linnest"]

[patch.crates-io]
linnet = { path = "." }
# dot-parser = {git = "https://codeberg.org/bromind/dot-parser", rev="5521f1ba03fd840913dd18aa85446a2cdbb50ac4"}
