name: publish-pypi

on:
  push:
    tags:
      - "linnet-py-v*"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: generate stubs
        shell: bash
        run: nix run .#py-stubs

      - name: build wheels
        shell: bash
        run: nix run .#maturin-build

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: linnet-py/target/wheels

  publish:
    name: publish to pypi
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
